body {
  background-color: #fff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
}
/* main style */

header li {
  list-style: none;
}
li {
  list-style: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
a:focus {
  background-color: transparent;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  min-width: 264px;
}
.container-list-text,
.container-desc-card {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.section {
  margin: 0 auto;
  padding: 96px 0;
  min-width: 320px;
}
.container {
  margin: 0 auto;
  padding: 0 16px;
  min-width: 288px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-nav {
  position: fixed;
  z-index: 9999;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  background-color: #e5e5e6;
  width: 100%;
}
.container-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  text-decoration: none;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 149px;
  padding: 20px 0;
}
.logo-stud {
  color: #2e2f42;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 0;
}
.button-menu-hero {
  /* padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px; */
  padding: 0;
  background-color: transparent;
  border: none;
}

.nav-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container-menu {
  display: flex;
  gap: 40px;
  padding-bottom: 168px;
  flex-direction: column;
}
.container-menu-items {
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
}
.menu-studio {
  color: #404bbf;
}
.container-menu-items:hover,
:focus {
  color: #404bbf;
}
.container-address {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
}
.menu-window-all {
  display: none;
}

.container-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
  align-items: center;
}
.container-contacts-items {
  color: #4d4d52;
  font-weight: 400;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  display: block;
  width: 156px;
}

.container-contacts-items:hover,
:focus {
  color: #404bbf;
}

/*container-title*/

.section-title {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-x1-mb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  min-width: 320px;
  padding: 72px 0;
  padding-top: 180px;
}
.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  max-width: 200px;
}
.container-title-button {
  background: #4d5ae5;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  min-width: 169px;
  height: 56px;

  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 72px;
}
.container-title-button:hover,
:focus {
  background-color: #404bbf;
}
/* content-text */

.main-content-text {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  justify-content: center;
}
.main-content-text-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.container-icon {
  display: none;
}
.container-text-title-section-two {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
}
.container-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.text-tablet {
  font-weight: 500;
}
/* section-3 */

.container-title-two {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.container-text-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}
.container-list {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
.container-team-items {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 4px 4px 0px rgba(46, 47, 66, 0.16),
    0px 4px 8px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
  transition: box-shadow 0.3s ease;
}
.container-team-items:hover {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.193);
}
.container-desc-card {
  padding: 32px 0;
}

.container-social {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
}
.social-list {
  width: 40px;
  height: 40px;
}
.link-social:focus {
  background-color: #404bbf;
}

.link-social,
.link-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social:hover {
  background-color: #404bbf;
}
.icon-social {
  fill: #f4f4fd;
}

.container-list-text {
  align-items: flex-start;
  padding: 32px 16px;
  border-top: none;
}
.container-team-desc {
  background: #f4f4fd;
}

/* section-4 */

.container-list-port {
  display: flex;
  margin-top: 72px;
  flex-direction: column;
  row-gap: 48px;
}
.container-list-items {
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.front-link {
  color: #2e2f42;
}

.front {
  overflow: hidden;
  position: relative;
}
.back {
  position: absolute;
  background-color: #4d5ae5;
  top: 0;
  left: 0;
  bottom: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 40px 32px;
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-list-items:hover .back,
.front-link:focus .back {
  transform: translateY(0);
}

/* footer */

.container-footer {
  background: #2e2f42;
  display: flex;
  margin: 0 auto;
  padding: 96px 0;
  min-width: 320px;
}
.container-footer-content {
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.container-footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.logo-two {
  color: #4d5ae5;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-stud-two {
  color: #f4f4fd;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-desc {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-desc-soc {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.container-subscribe {
  display: flex;
  flex-direction: column;
}
.email-footer {
  border-radius: 4px;
  border: 1px solid #fff;
  width: 264px;
  height: 40px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.email-footer::placeholder {
  color: #fff;
  opacity: 0.6;
}
.email-footer:focus-within {
  outline: transparent;
  border: 1px solid #4d5ae5;
}
.subscribe-bttn {
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 165px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-bttn:hover {
  background-color: #404bbf;
}
.icon-social-frame {
  fill: #fff;
  margin-left: 16px;
}
.container-social-footer {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 16px;
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}

/* modal-window */

.backdrop-form {
  z-index: 9999999;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}
.backdrop-form.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.window-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #fcfcfc;
  margin: auto;
  align-items: center;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 288px;
  min-height: 624px;
}
.icon-close-container {
  position: absolute;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-container :focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-disc {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  width: 256px;
}
.container-input-comment {
  margin-bottom: 16px;
  min-width: 256px;
}
.backdrop-lebel {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}
.backdrop-item {
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 100%;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-input-svg {
  position: relative;
}
.backdrop-item:focus-within {
  border-color: #4d5ae5;
  outline: transparent;
}
.backdrop-item:focus ~ .icon-soc {
  fill: #4d5ae5;
}
.icon-soc {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-tel {
  position: relative;
}
.icon-tel {
  content: '';
  position: absolute;
  top: 11px;
  left: 16px;
  fill: #2e2f42;
}
.backdrop-item:focus ~ .icon-tel {
  fill: #4d5ae5;
}
.container-email {
  position: relative;
  margin-bottom: 8px;
}
.icon-email {
  content: '';
  position: absolute;
  top: 11px;
  left: 16px;
  fill: #2e2f42;
}
.backdrop-item:focus ~ .icon-email {
  fill: #4d5ae5;
}
.text-area {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-area:focus-within {
  border-color: #4d5ae5;
}
.polisy-box {
  margin-bottom: 24px;
}

.icon-check-container {
  display: inline-flex;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-top: 5px;
}

.check-box:checked ~ .policy-accept .icon-check-container {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.policy-accept {
  cursor: pointer;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  flex-wrap: wrap;
}
.polisy-link {
  color: #4d5ae5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33em;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  margin-left: 22px;
}
.button-modal {
  font-family: 'Roboto', sans-serif;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* menu-window */

.menu-window {
  background-color: #e3e4ed;
  z-index: 99999;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-top: 72px;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-window.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backgr {
  background-color: #fff;
  border-color: #e7e9fc;
}
.container-social-menu {
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-menu {
  fill: #2f2f37;
}

/*mobile x2 */

@media (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-x2-mb.jpg);
  }
}

/* tablet 2x */

@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1439px) {
  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-x2-tab.png);
  }
}
/* tablet */

@media (min-width: 768px) {
  .container {
    min-width: 768px;
  }
  .section {
    min-width: 768px;
  }

  /* header */

  .logo {
    margin-right: 120px;
  }
  .button-menu-hero {
    display: none;
  }
  .menu-window-all {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container-nav {
    justify-content: flex-start;
  }
  .menu-window {
    display: none;
  }
  .container-menu {
    padding-bottom: 0;
    flex-direction: row;
  }
  /* .container-address {
    margin-left: 120px;
  } */
  .container-contacts {
    gap: 12px;
    margin-bottom: 0;
  }
  .container-social-menu {
    display: none;
  }
  .current {
    display: block;
    transition-property: background-color;
    transition-delay: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
    position: relative;
  }
  .menu-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .container-menu-items {
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    display: block;
  }
  .container-contacts-items {
    font-size: 12px;
    line-height: 1.16em;
    letter-spacing: 0.04em;
  }

  /* title */

  .section-title {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-x1-tab.png);
    min-width: 768px;
    padding: 112px 0;
    padding-top: 180px;
  }
  .title {
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
  .container-title-button {
    margin-top: 36px;
  }

  /* content-text */

  .main-content-text {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .main-content-text-items {
    width: 356px;
    align-items: flex-start;
  }
  .text-tablet {
    text-align: start;
  }

  /* section-3 */

  .container-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
    align-items: center;
  }
  .container-team-items {
    flex-basis: calc((100% - 24px) / 2);
  }

  /* section-4 */

  .container-list-port {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .container-list-items {
    flex-basis: calc((100% - 24px) / 2);
    max-width: 356px;
  }
  .front > img {
    height: 300px;
  }

  /* footer */

  .container-footer {
    min-width: 768px;
    max-height: 456px;
  }
  .container-footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 108px;
  }
  .footer-content {
    align-items: flex-start;
  }

  .container-footer-social {
    margin-left: 24px;
    align-items: flex-start;
  }
  .footer-form {
    align-items: flex-start;
  }
  .subscribe-form {
    flex-direction: row;
    column-gap: 24px;
  }

  /* modal window */

  .window-form {
    width: 408px;
  }
  .container-input {
    width: 360px;
  }
  .container-input-comment {
    width: 360px;
  }
  .policy-accept {
    align-items: center;
  }
  .icon-check-container {
    margin-top: 0;
  }
  .polisy-link {
    margin-left: 0;
  }
}

/* desktop */

@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
  .container {
    padding: 0 15px;
    width: 1158px;
  }

  /* header */
  .container-nav {
    justify-content: flex-start;
  }

  .logo {
    margin-right: 76px;
  }
  .link-manu-hero {
    display: none;
  }
  .menu-window-all {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .container-menu {
    padding-bottom: 0;
    flex-direction: row;
  }
  .current {
    display: block;
    transition-property: background-color;
    transition-delay: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
    position: relative;
  }
  .container-menu-items {
    color: #2e2f42;
    position: relative;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
  .menu-studio::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  /* .container-address {
    margin-left: 332px;
  } */
  .container-contacts {
    flex-direction: row;
    gap: 40px;
    margin-bottom: 0;
  }

  .button-menu-hero {
    display: none;
  }

  /*container-title*/

  .section-title {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
  }

  .title {
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 0.02em;
    max-width: 496px;
  }
  .container-title-button {
    margin-top: 48px;
  }

  /* content-text */

  .main-content-text {
    flex-direction: row;
    gap: 24px;
    align-items: baseline;
  }
  .main-content-text-items {
    width: calc((100% - 3 * 24px) / 4);
    align-items: flex-start;
  }
  .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
    width: 100%;
  }
  .container-text-title-section-two {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.02em;
  }

  .text-tablet {
    text-align: start;
    font-weight: 400;
  }
  /* section-3 */

  .container-list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
  }
  .container-team-items {
    width: calc((100% - 72px) / 4);
  }
  /* section-4 */
  .container-list-port {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
  .container-list-items {
    width: calc((100% - 2 * 24px) / 3);
    box-shadow: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .container-list-items:hover .front-link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  /* fooetr */
  .container-footer {
    padding: 100px 0;
  }
  .footer-content {
    margin-bottom: 0;
    align-items: flex-start;
  }
  .container-footer-social {
    margin-left: 120px;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .container-footer-content {
    flex-direction: row;
    align-items: baseline;
  }

  .container-list-text {
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .footer-form {
    margin-left: 80px;
    align-items: flex-start;
  }
  .subscribe-form {
    flex-direction: row;
    column-gap: 24px;
  }
  /* modal */
  .window-form {
    width: 408px;
    min-height: 584px;
  }
  .container-input {
    width: 360px;
  }
  .container-input-comment {
    width: 360px;
  }

  .container-tel {
    position: relative;
  }
  .icon-tel {
    content: '';
    position: absolute;
    top: 11px;
    left: 16px;
    fill: #2e2f42;
  }
  .backdrop-item:focus ~ .icon-tel {
    fill: #4d5ae5;
  }
  .container-email {
    position: relative;
    margin-bottom: 8px;
  }
  .icon-email {
    content: '';
    position: absolute;
    top: 11px;
    left: 16px;
    fill: #2e2f42;
  }
  .backdrop-item:focus ~ .icon-email {
    fill: #4d5ae5;
  }

  .icon-check-container {
    margin-top: 0;
  }

  .policy-accept {
    align-items: center;
  }
  .polisy-link {
    margin-left: 0;
  }
  .button-madal {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: 120px;
  }
}
